<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997183981954-e68ataddt57f57gco96vh09nm7bkbg70.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997183981954-e68ataddt57f57gco96vh09nm7bkbg70</string>
	<key>API_KEY</key>
	<string>AIzaSyB7Az2y--yE_nHkNKLHLOFtNqK4qzkmjtw</string>
	<key>GCM_SENDER_ID</key>
	<string>997183981954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.furniture</string>
	<key>PROJECT_ID</key>
	<string>furniture-app-62f88</string>
	<key>STORAGE_BUCKET</key>
	<string>furniture-app-62f88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997183981954:ios:0f07c2ad527e8b6594279b</string>
</dict>
</plist>